/Tugas_1/TesLS/nbproject/private/
/Tugas_1/tesMKDIR/nbproject/private/
/Tugas_1/tesMKDIR/build/
/Tugas_1/dhiaz/Client/dist/
/Tugas_1/dhiaz/Server/dist/
/Tugas_1/wawan/Coba2/Server/nbproject/private/
/Tugas_1/wawan/Coba2/Client/nbproject/private/